*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: greate-vibes-web;
    src: url(/fonts/GreatVibes-Regular.otf);
}
@font-face {
    font-family: Roboto-web;
    src: url(/fonts/Roboto.ttf);
}
:root{
    --index: calc(1vw + 1vh);
}
body{
    background-color: black;
    color:white;
    overflow-x: hidden;
    overflow-y: hidden;
}
.body{
    background-position: center;
    background-size: cover; 
    width: 100%;
    height: 100vh;
}
.logo{
    left: 5%;
    top: 5%;
    position: absolute;
    background-repeat: no-repeat;
}
.header{
    position: absolute;
    left: 28% ;
    top:6%;
    /* pointer-events: none; */
}
.btn{
    font-family: Roboto-web;
    font-size: 14.06pt;
    font-weight: 400;
    color: white;
    outline: 0;
    background-color: transparent;
    border-width: 0px;
    margin-left: 50px;
}
.image-persons{
    top: 23%;
    position: fixed;
}
.shape{
    z-index: 1;
    position: absolute;
    top:34.5%;
    left: -0.3%;
}
.shop{
    font-family: Roboto-web;
    font-size: 54pt;
    font-weight: 400;
    color: #FCCE03;
    position: relative;
    top:25%;
    left:50%;
}
.made-e{
    font-family: greate-vibes-web;
    font-size: 38pt;
    font-weight: 500;
    position: relative;
    top:30%;
    left: 18%;
    text-align: center;
}
.lorem{
    font-family: Roboto-web;
    font-size: 8.8pt;
    font-weight: 300;
    position: relative;
    top:30%;
    left: 18%;
    text-align: center;
}
.home{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FCCE03;
    text-decoration-thickness: 2px;
}
.sign-up{
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    padding: 4px 60px 4px 60px;
    position: relative;
    left:50px;
    border-color: #FCCE03;
}
.shp_now{
    font-family: Roboto-web;
    font-weight: 500;
    font-size: 13.23pt;
    position: relative;
    left:38%;
    top:33%;
    border-radius: 25px;
    padding:7px 45px 7px 45px;
    color: #264EA0;
    background-color: #FECD04;
    border-width: 0;
    
}
.rounded{
    position: relative;
    left: 43%;
    top:49%
}
.Ellipse{
   position: relative; 
   left:70%;
   top:55vh;
}
.prodcts:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FCCE03;
    text-decoration-thickness: 2px;
}
.prc:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FCCE03;
    text-decoration-thickness: 2px;
}
.about:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FCCE03;
    text-decoration-thickness: 2px;
}
.rev:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FCCE03;
    text-decoration-thickness: 2px;
}
.sign-up:hover{
    color:#1B4597;
    background-color: #FCCE03;
}
.shp_now:hover{
    border-color: #FCCE03;
    border-width: 2px;
    background-color: #1B4597;
    color:#FCCE03;
    border-style: solid;
}
